body {
    background: powderblue;
  font-family: fantasy;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

main {
background:teal;
  border-radius: 5px;
  width: 375px;
  text-align: center;
  flex-direction: column;

}

.top {
height: 120px;
border-radius: 5px;
color: whitesmoke;

} 

.middle {
  display: flex;
  justify-items: center;
  align-items: center;
  background:thistle;
   height: 115px;
   font-family: cursive;
  
   
}
.bottom {
 height: 20px;
 border-radius: 5px;

 
}
.hello {
    font-size: 5.5rem;
    line-height: 1;
}
.my-name-is {
    font-size: 2rem;
}